MONDAY_BOT_TOKEN=your_bot_token_here
MONDAY_CA=TBA
MONDAY_CHART_URL=https://dexscreener.com/solana/YOURPAIRADDRESS
MONDAY_BUY_URL=https://pump.fun/coin/YOURCA
MONDAY_WEBSITE_URL=https://mondayonsol.com
